*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#oops{
    font-size: 20vh;
    margin-top: 25vh;
    animation-name: example;
    animation-duration:2s;
    animation-iteration-count: infinite;
}
#error{
    margin: 1vh;
    font-size: 4vh;
    color: rgb(109, 105, 105);
}
@keyframes example {
    0%   {color: rgb(243, 45, 45);}
    20%  {color: rgb(175, 175, 11);}
    40%  {color: rgb(91, 91, 235);}
    60% {color: rgb(10, 240, 10);}
    80% {color: rgb(11, 180, 202);}
    100% {color: rgb(207, 10, 191);}
  }